/* prototype css, throwaway */

.inline-group {
  box-sizing: border-box;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}

.inline-group * {
  box-sizing: inherit;
}

.inline-group--item {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
}

.inline-group--item-aside {
  max-width: 200px;
}

.button--start,
.button--link {
  margin-bottom: 20px;
}

.button--link {
  display: block;
}

.inline-group--item .button--start {
    width: 100%;
    text-align: center;
}

.image-responsive {
  max-width: 100%;
}

/**
 *
 * Uncomment for logos inline in radios
 *

.image-radio {
  float: right;
  user-select: none;
  max-height: 50px;
  margin-left: 30px;
}

.multiple-choice label {
  float: none;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .multiple-choice {
    min-width: 20em;
  }
}

@media (max-width: 641px) {
  .image-radio {
    margin-top: 10px;
    display: block;
    float: none;
    margin-left: 0;
  }
}

*
*/
