{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Creating a new account
      </h1>
      <p>
        Lorem ipsum dolor sit amet, te vix nisl splendide signiferumque, mel reque appetere cu. Pro eu populo conceptam. Id copiosae dissentias eam. Eum ea dico exerci dicunt, mea te habeo.
      </p>
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">Government Gateway</h2>
      <p>
        Lorem ipsum dolor sit amet, te vix nisl splendide signiferumque, mel reque appetere cu. Pro eu populo conceptam. Id copiosae dissentias eam. Eum ea dico exerci dicunt, mea te habeo.
      </p>
      <a class="button" type="submit" href="https://www.tax.service.gov.uk/government-gateway-registration-frontend?accountType=individual&continue=%2Fcheck-your-state-pension%2Faccount&origin=nisp-frontend">Continue with Gateway</a>
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">GOV.UK Verify</h2>
      <p>
        Lorem ipsum dolor sit amet, te vix nisl splendide signiferumque, mel reque appetere cu. Pro eu populo conceptam. Id copiosae dissentias eam. Eum ea dico exerci dicunt, mea te habeo.
      </p>
      <a class="button" type="submit" href="https://www.tax.service.gov.uk/check-your-state-pension/signin/verify">Continue with Verify</a>
    </div>
  </div>
</main>

{% endblock %}
