{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a class="link-back" href="/options-on-interstitial/check-state-pension-interstitial-1">
    Back <span class="visuallyhidden"> to the previous question</span>
  </a>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Register for a government ID account
      </h1>
      <p>
        You can choose to register with Government Gateway or GOV.UK Verify. Either account type will let you prove your identity and check your State Pension.
      </p>
      <p>
        It usually takes 15 minutes to register.
      </p>
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">Government Gateway</h2>
      <p>
        Registering with Government Gateway usually takes about 10 minutes. It works best if you have your National Insurance number, plus either:
      </p>
      <ul class="list list-bullet">
        <li>a P60 or recent payslip</li>
        <li>a valid UK passport</li>
      </ul>
      <div class="inline-group">
        <div class="inline-group--item">
          <a role="button" class="button button--start" href="https://www.tax.service.gov.uk/government-gateway-registration-frontend?accountType=individual&continue=%2Fcheck-your-state-pension%2Faccount&origin=nisp-frontend">
            Create a Government Gateway account
          </a>
        </div>
        <div class="inline-group--item inline-group--item-aside">
          <img style="max-height: 45px" class="image-responsive" src="{{ asset_path }}/images/government-gateway-logo.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">GOV.UK Verify</h2>
      <p>
        Registering with GOV.UK Verify works best if you have a UK address, plus either:
      </p>

      <ul class="list list-bullet">
        <li>a valid passport</li>
        <li>a photocard driving licence</li>
      </ul>

      <div class="inline-group">
        <div class="inline-group--item">
          <a role="button" class="button button--start" href="https://www.tax.service.gov.uk/check-your-state-pension/signin/verify">
            Create a GOV.UK Verify account
          </a>
        </div>
        <div class="inline-group--item inline-group--item-aside">
          <img style="max-height: 38px" class="image-responsive" src="{{ asset_path }}/images/govuk-verify.png" alt="">
        </div>
      </div>

      <p>
        A certified company will double check your identity when you register with GOV.UK Verify. They’ve all met security standards set by government.
      </p>

      <h2 class="heading-medium">Why you need to register</h2>
      <p>
        <a href="https://www.gov.uk/government-gateway">Government Gateway</a>
        and
        <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">GOV.UK Verify</a>
        are secure services built to fight identity theft.
        Once you’ve registered, you can reuse your account to sign in to other government services online.
      </p>
    </div>
  </div>
</main>

{% endblock %}
