{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a class="link-back" href="/options-on-interstitial/check-state-pension-interstitial-1">
    Back <span class="visuallyhidden"> to the previous question</span>
  </a>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Creating a new account
      </h1>
      <p>
        Lorem ipsum dolor sit amet, te vix nisl splendide signiferumque, mel reque appetere cu. Pro eu populo conceptam. Id copiosae dissentias eam. Eum ea dico exerci dicunt, mea te habeo.
      </p>
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">Government Gateway</h2>
      <p>
        Lorem ipsum dolor sit amet, te vix nisl splendide signiferumque, mel reque appetere cu. Pro eu populo conceptam. Id copiosae dissentias eam. Eum ea dico exerci dicunt, mea te habeo.
      </p>
      <div class="inline-group">
        <div class="inline-group--item">
          <a class="button button--start" href="https://www.tax.service.gov.uk/government-gateway-registration-frontend?accountType=individual&continue=%2Fcheck-your-state-pension%2Faccount&origin=nisp-frontend" role="button">
            Create a new Government Gateway account
          </a>
        </div>
        <div class="inline-group--item inline-group--item-aside">
          <img style="max-height: 45px" class="image-responsive" src="{{ asset_path }}/images/government-gateway-logo.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">GOV.UK Verify</h2>
      <p>
        Lorem ipsum dolor sit amet, te vix nisl splendide signiferumque, mel reque appetere cu. Pro eu populo conceptam. Id copiosae dissentias eam. Eum ea dico exerci dicunt, mea te habeo.
      </p>

      <div class="inline-group">
        <div class="inline-group--item">
          <a class="button button--start" href="https://www.tax.service.gov.uk/check-your-state-pension/signin/verify" role="button">
            Create a new GOV.UK Verify account
          </a>
        </div>
        <div class="inline-group--item inline-group--item-aside">
          <img style="max-height: 38px" class="image-responsive" src="{{ asset_path }}/images/govuk-verify.png" alt="">
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
