{% extends "layout.html" %}

{% block page_title %}
  View or share your driving licence information
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Driving and transport</a></li>
      <li>Driving licences</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        View or share your driving licence information
      </h1>

      <section class="intro">
        <p>You can use this service to:</p>

        <ul class="list list-bullet">
          <li>view your driving record, for example vehicles you can drive</li>
          <li>check your penalty points or disqualifications</li>
          <li>create a licence ‘check code’ to share your driving record with someone, for example a car hire company</li>
        </uL>

        <p>The ‘check code’ will be valid for 21 days.</p>

        <p>This service is also available <a href="/gweld-neu-rannu-eich-gwybodaeth-trwydded-yrru">in Welsh (Cymraeg)</a>.</p>

        <p>You can’t use this service if your licence was issued outside of England, Wales or Scotland.</p>

        <p>It’s a criminal offence to obtain someone else’s personal information without their permission.</p>

        <p>
          <a class="button button-start"  href="interstitial" role="button">Start now</a>
        </p>

        <h2 class="heading-medium">Other ways to apply</h2>

        <h3 class="heading-small" id="apply-by-phone">Apply by phone</h3>

        <div class="govuk-govspeak">
          <div class="contact">
            <p>
              0300 083 0013<br>
              Monday to Friday, 8am to 7pm<br>
              Saturday, 8am to 2pm<br>
              <a href="https://gov.uk/call-charges">Find out about call charges</a>
            </p>
          </div>
        </div>

        <h3 class="heading-small" id="apply-by-post">Apply by post</h3>

        <p>You can either send a <a href="https://gov.uk/government/publications/d888-request-by-an-individual-for-information-from-their-driving-record">request form</a> or a letter with the following information to the <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr>:</p>

        <ul class="list list-bullet">
          <li>your full name and address</li>
          <li>your driver licence number (or your date of birth if you don’t know your driver number)</li>
        </ul>

        <p>Send your request to:</p>

        <div class="govuk-govspeak">
          <div class="contact">
            <div class="adr org fn">
              <p>
                DACT Team
                <br>
                <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr>
                <br>Swansea
                <br>SA99 1AJ
              </p>
            </div>
          </div>
        </div>
      </section>

      <p class="modified-date">
        Last updated: 29 September 2017
      </p>
    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Driving licences</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://gov.uk/driving-licence-codes">Driving licence codes</a></li>
            <li><a href="https://gov.uk/dvla-change-address">Tell DVLA you’ve changed address</a></li>
            <li><a href="https://gov.uk/driving-licence-categories">Driving licence categories</a></li>
            <li><a href="https://gov.uk/check-driving-information">Check someone's driving licence information</a></li>
            <li><a href="https://gov.uk/browse/driving/driving-licences" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
        <h2 class="heading-medium" id="subsection-title">Elsewhere on the web</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Northern Ireland driving licences</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
