{% extends "layout.html" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="#">Home</a></li>
      <li><a href="#">Working, jobs and pensions</a></li>
      <li><a href="#">State Pension</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to find out:</p>

      <ul class="list list-bullet">
        <li>how much State Pension you could get (this amount is also known as your State Pension forecast)</li>
        <li>when you can get it</li>
        <li>how to increase it, if you can</li>
      </ul>

      <div role="note" class="panel panel-border-wide">
        <p>
          This page is also available in Welsh (<a href="#">Cymraeg</a>).
        </p>
      </div>
      <p>
        <a href="https://www.gov.uk/government/news/proposed-new-timetable-for-state-pension-age-increases">The State Pension age is under review</a>
        and may change in the future.
      </p>
      <div role="note" class="panel panel-border-wide">
        <p>
          You can’t use this service if you’re already getting your State Pension or if you’ve delayed (‘deferred’) claiming it.
        </p>
      </div>
      <p>
      </p>

      <h2 class="heading-medium">Sign in to continue</h2>

      <p>
        To continue you’ll need to prove your identity by signing in with either Government Gateway or GOV.UK Verify. These are secure services built to fight online identity theft.
      </p>

      <h3 class="heading-medium">Choose a way to sign in</h2>

      <div class="inline-group">
        <div class="inline-group--item">
          <a role="button" class="button button--start" href="https://www.tax.service.gov.uk/gg/sign-in?continue=%2Fcheck-your-state-pension%2Faccount&origin=nisp-frontend&accountType=individual">
            Sign in with Government Gateway
          </a>
        </div>
        <div class="inline-group--item inline-group--item-aside">
          <a class="button--link" href="https://www.tax.service.gov.uk/government-gateway-registration-frontend?accountType=individual&continue=%2Fcheck-your-state-pension%2Faccount&origin=nisp-frontend">
            Create an <span class="visually-hidden">Government Gateway</span> account
          </a>
        </div>
      </div>

      <p style="margin-bottom: 45px;">
        Creating a Government Gateway account usually takes about 10 minutes. It works best if you have your National Insurance number and a P60, a recent payslip or a valid UK passport.
      </p>

      <div class="inline-group">
        <div class="inline-group--item">
          <a role="button" class="button button--start" href="https://www.signin.service.gov.uk/start">
            Sign in with GOV.UK Verify
          </a>
        </div>
        <div class="inline-group--item inline-group--item-aside">
          <a class="button--link" href="https://www.signin.service.gov.uk/start">
            Create an <span class="visually-hidden">GOV.UK Verify</span> account
          </a>
        </div>
      </div>

      <p style="margin-bottom: 45px;">
        Creating an account with GOV.UK Verify usually takes about 15 minutes. It works best if you have a valid passport or photocard driving licence.
      </p>

      <h2 class="heading-medium">Other ways to apply</h2>
      <p>
        If you’ll reach <a href="https://www.gov.uk/state-pension-age">your State Pension age</a>
        in more than 30 days, call the
        <a href="https://www.gov.uk/future-pension-centre">Future Pension Centre</a>
        and ask for a statement.
      </p>
      <p>
        You can also fill in the <a href="https://www.gov.uk/government/publications/application-for-a-state-pension-statement">BR19 application form</a>
        and send it in the post.
      </p>
      <p>
        You’ll get your statement within 10 working days.
      </p>

      <h2 class="heading-medium">If you’re already getting your State Pension or have delayed claiming it</h2>
      <p>
        To get information about your State Pension, contact the
        <a href="https://www.gov.uk/contact-pension-service">Pension Service</a>
        if you’re in the UK or the
        <a href="https://www.gov.uk/international-pension-centre">International Pension Centre</a>
        if you live abroad.
      </p>

      <h2 class="heading-medium">If you've worked and paid National Insurance in the Isle of Man</h2>
      <p>
        Contact the
        <a href="https://www.gov.uk/future-pension-centre">Future Pension Centre</a>
        to get information about your State Pension.
      </p>

      <p class="modified-date">
        Last updated: 18 October 2017
      </p>
    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">State pension</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">The basic State Pension</a></li>
            <li><a href="#">Check your State Pension age</a></li>
            <li><a href="#">The new State Pension</a></li>
            <li><a href="#">Claim your State Pension online</a></li>
            <li><a href="#">Early retirement, your pension and benefits</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
