{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Start Page Prototypes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        GOV.UK Start Page Prototypes
      </h1>

      <h2 class="heading-large">Lab Session 2</h2>

      <h3 class="heading-medium">View driving licence</h3>

      <ul class="list list-bullet">
        <li><a href="/lab-session-2/original/view-driving-licence">Original page</a></li>
        <li><a href="/lab-session-2/options-on-interstitial/view-driving-licence/index.html">Interstitial to pick sign-in options or create account </a></li>
      </ul>

      <hr>

      <details>

        <summary><span class="summary">Lab Session 1</span></summary>

        <div class="panel panel-border-narrow">

          <h3 class="heading-medium">Check your state pension</h3>

          <ul class="list list-bullet">
            <li><a href="/lab-session-1/original/check-state-pension">Original page</a></li>
            <li><a href="/lab-session-1/options-on-interstitial/check-state-pension/index.html">Interstitial to pick sign-in options or create account </a></li>
            <li><a href="/lab-session-1/options-on-start-page/check-state-pension/index">Sign-in / register options on start page</a></li>
          </ul>

        </div>

      </details>
    </div>
  </div>
</main>

{% endblock %}
