{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Start Page Prototypes
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        GOV.UK Start Page Prototypes
      </h1>

      <h2 class="heading-medium">Check your state pension</h2>

			<ul class="list list-bullet">
				<li><a href="/original/check-state-pension">Original page</a></li>
        <li><a href="/options-on-interstitial/check-state-pension/1/index.html">Interstitial to pick sign-in options or create account - v1</a></li>
        <li><a href="/options-on-start-page/check-state-pension/1/index">Sign-in/register options on start page - v1</a></li>
			</ul>

      <h2 class="heading-medium">View driving licence</h2>

      <ul class="list list-bullet">
        <li><a href="/original/view-driving-licence">Original page</a></li>
        <li><a href="/options-on-interstitial/view-driving-licence/1/index">Interstitial to pick sign-in options or create account - v1</a></li>
        <li><a href="/options-on-interstitial/view-driving-licence/1/index">Sign-in/register options on start page - v1</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
